<!DOCTYPE html>
<html lang="en"> <!--begin::Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Home</title><!--begin::Primary Meta Tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css"
          integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q=" crossorigin="anonymous"><!--end::Fonts-->
    <!--begin::Third Party Plugin(OverlayScrollbars)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/styles/overlayscrollbars.min.css"
          integrity="sha256-dSokZseQNT08wYEWiz5iLI8QPlKxG+TswNRD8k35cpg=" crossorigin="anonymous">
    <!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Third Party Plugin(Bootstrap Icons)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.min.css"
          integrity="sha256-Qsx5lrStHZyR9REqhUF8iQt73X06c8LGIUPzpOhwRrI=" crossorigin="anonymous">
    <!--end::Third Party Plugin(Bootstrap Icons)--><!--begin::Required Plugin(AdminLTE)-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/adminlte.min.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminlte.all.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.css"
          integrity="sha256-4MX+61mt9NVvvuPjUWdUdyfZfxSB1/Rf9WtqRHgG5S0=" crossorigin="anonymous">
</head>

<body class="layout-top-nav" style="height: auto;">
<div class="wrapper">
    <nav th:replace="~{fragments/nav-user.html :: nav}"></nav>

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Matchs du jour</h1>
                    </div>

                </div>
            </div>
        </div>


        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-widget widget-user">
                            <div class="widget-user-header bg-info">
                                <h3 class="widget-user-username flex-fill">Club Sportif Sfaxien <span class="text-bold">(1)</span>
                                    <span class="text-bold mx-5">VS</span> Club Africain <span
                                            class="text-bold">(0)</span></h3>
                                <h5 class="widget-user-desc">Match en cours</h5>
                            </div>
                            <div class="widget-user-image"
                                 style="display: flex;justify-content: space-around;list-style: none;margin-top: -45px;margin-bottom: -60px;position: initial;margin-left: unset;">

                                <img class="img-circle img-fluid elevation-2" src="/img/css.gif" style=" height: 90px"
                                     alt="User Avatar">

                                <img class="img-circle img-fluid elevation-2" src="/img/ca.svg" style=" height: 90px"
                                     alt="User Avatar">

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row mt-4">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">1</h5>
                                        <button type="button" class="mt-2 btn btn-block btn-success btn-sm">15.5
                                        </button>
                                    </div>

                                </div>

                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">X</h5>
                                        <button type="button" class="mt-2 btn btn-block btn-success btn-sm">3</button>
                                    </div>

                                </div>

                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header">2
                                        </h5>
                                        <button type="button" class="mt-2 btn btn-block btn-success btn-sm">3.5</button>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="card card-widget widget-user">
                            <div class="widget-user-header bg-info">
                                <h3 class="widget-user-username flex-fill">Étoile Sportive du Sahel <span
                                        class="text-bold">(0)</span> <span class="text-bold mx-5">VS</span> Espérance
                                    Sportive de
                                    Tunis <span class="text-bold">(0)</span></h3>
                                <h5 class="widget-user-desc">Match en cours</h5>
                            </div>
                            <div class="widget-user-image"
                                 style="display: flex;justify-content: space-around;list-style: none;margin-top: -45px;margin-bottom: -60px;position: initial;margin-left: unset;">

                                <img class="img-circle img-fluid elevation-2" src="/img/ess.png" style=" height: 90px"
                                     alt="User Avatar">

                                <img class="img-circle img-fluid elevation-2" src="/img/est.png" style=" height: 90px"
                                     alt="User Avatar">

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row mt-4">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">1</h5>
                                        <button type="button" class="mt-2 btn btn-block btn-success btn-sm">5</button>
                                    </div>

                                </div>

                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">X</h5>
                                        <button type="button" class="mt-2 btn btn-block btn-success btn-sm">8.5</button>
                                    </div>

                                </div>

                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header">2</h5>
                                        <button type="button" class="mt-2 btn btn-block btn-success btn-sm"
                                                data-toggle="modal" data-target="#exampleModal">17.3
                                        </button>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation de Pari
                    (<span class="text-bold"> 2 - Espérance Sportive de Tunis </span>)
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-4">
                    <label>Montant de Pari </label>
                    <input type="text" class="form-control" placeholder="Montant de Pari">
                </div>
                Merci de saisir le montant de Pari et confirmer votre choix.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Confirmer</button>
            </div>
        </div>
    </div>
</div>


<footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
        Promosport
    </div>
    <strong>Copyright © 2024</strong> All rights reserved.
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/adminlte.all.js"></script>


</body>
</html>
